<%= simple_form_for [:admin, @sermon], html: { multipart: true, class: 'form-vertical' } do |f| %>
    <%= f.input :speaker, placeholder: 'speaker name', label: false %>
    <%= f.input :subject, placeholder: 'topic', label: false %>
    <%= f.input_field :day, as: :date %>
    <br>
    <%= f.file_field :avatar %>
    <br>

    <div class="btn-toolbar">
    <%= f.button :submit, label: 'Add message', class: 'btn btn-primary' %>
    <%= link_to "Cancel", admin_sermons_path, class: 'btn btn-default' %>
  </div>
<% end %>
