<% @sermons.each do |sermon| %>
  <tr id="sermon_<%=sermon.id.to_s %>" >
    <td><%= sermon.speaker %></td>
    <td><%= sermon.subject %></td>
    <td><%= sermon.day.strftime("%m/%d/%Y") %></td>
    <td><%= audio_tag sermon.avatar.url, controls: true, autobuffer: true %></td>
    <td><%= link_to "Download", sermon.avatar.url %> | <%= link_to "Edit", edit_admin_sermon_path(sermon) %> | <%= link_to "Delete", [:admin, sermon], method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this message?" } %></td>
  </tr>
<% end %>
