<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Change your password</strong>
        </div>
        <div class="panel-body">
          <div class="form-inputs">
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= f.error_notification %>

              <%= f.input :reset_password_token, as: :hidden %>
              <%= f.full_error :reset_password_token %>

              <div class="form-inputs">
                <%= f.input :password, label: false, required: false, autofocus: true, placeholder: "new password" %>
                <%= f.input :password_confirmation, label: false, required: false, placeholder: "confirm your new password" %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Change my password" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">Already registered?
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
