<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <%= render '/common/notification' %>
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <h1 class="brand-heading">PCIC</h1>
                  <p class="intro-text">Peninsula Church in Christ</p>
                  <a href="#about" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
</header>


<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>About PCIC</h2>
          <p>Peninsula Church in Christ is ... </p>
          <p>Need <a href="#map" class="page-scroll">directions?</a></p>
          <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
      </div>
  </div>
</section>

<!-- Schedule Section -->
<section id="schedule" class="container content-section text-center">
  <div class="schedule-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="row" role="tabpanel">
            <h2>Schedule</h2>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#sunday" aria-controls="sunday" role="tab" data-toggle="tab">Sunday</a></li>
              <li role="presentation"><a href="#tuesday" aria-controls="tuesday" role="tab" data-toggle="tab">Tuesday</a></li>
              <li role="presentation"><a href="#friday" aria-controls="friday" role="tab" data-toggle="tab">Friday</a></li>
            </ul>

             <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="sunday"><%= render 'sunday' %></div>
              <div role="tabpanel" class="tab-pane" id="tuesday"><%= render 'tuesday' %></div>
              <div role="tabpanel" class="tab-pane" id="friday"><%= render 'friday' %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Message Section -->
<section id="messages" class="content-section text-center">
  <div class="message-section">
      <div class="container">
          <div class="col-lg-8 col-lg-offset-2">
              <h2>Messages</h2>
              <p>You can download or listen to messages.</p>
               <% if user_signed_in? && current_user.role == "admin" %>
                    <%= link_to "Messages", admin_sermons_path, class: "btn btn-default btn-lg" %>
                <% elsif user_signed_in? && current_user.role == "member" %>
                    <%= link_to "Messages", member_sermons_path, class: "btn btn-default btn-lg" %>
                <% else %>
                    <%= link_to "Messages", new_user_session_path, class: "btn btn-default btn-lg" %>
                <% end %>
          </div>
      </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>Contact PCIC</h2>
          <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
          <p><a href="mailto:peninsulachurchinchrist@gmail.com">peninsulachurchinchrist@gmail.com</a>
          </p>
          <ul class="list-inline banner-social-buttons">
              <li>
                  <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
              </li>
              <li>
                  <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                  <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
              </li>
          </ul>
      </div>
  </div>
</section>

<!-- Map Section -->
<div>
  <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3170.0270061879196!2d-122.07866780000002!3d37.3891936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb73218527229%3A0x213f2bca001e4bb2!2s596+Mercy+St%2C+Mountain+View%2C+CA+94041!5e0!3m2!1sen!2sus!4v1422629412651" frameborder="0" style="border:0" margin-top="100px"></iframe>
</div>

<!-- Footer -->
<footer>
  <div class="container text-center">
      <p>Copyright &copy; PCIC 2014</p>
  </div>
</footer>
