<h1>Messages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Topic</th>
      <th>Date</th>
    </tr>
  </thead>
  <% if @sermons.present? %>
  <tbody>
    <% @sermons.each do |sermon| %>
      <tr>
        <td><%= sermon.speaker %></td>
        <td><%= sermon.subject %></td>
        <td><%= sermon.day %></td>
        <td><%= audio_tag sermon.avatar.url, controls: true, autobuffer: true %></td>
        <td><%= link_to "Download", sermon.avatar.url %></td>
        <td><%= button_to "Edit", edit_sermon_path(sermon), class: "btn btn-success", method: :get %></td>
        <td><%= button_to "Delete", sermon, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this message?" } %></td>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to "Add a message", new_sermon_path, class: "btn btn-default btn-sm" %>
<br>
<br>
<%= link_to "Back", root_path, class: "btn btn-default btn-sm" %>
