<%= simple_form_for [:admin, @user], html: { class: "form-vertical" } do |f| %>
  <%= f.input :email, label: false, placeholder: 'email' %>
  <%= f.input :role, as: :select, collection: User::ROLES, label: false, placeholder: 'role', include_blank: false %>
  <%= f.input :approved, as: :select, label: false, placeholder: 'approved status' %>

  <div class="btn-toolbar">
    <%= f.button :submit, label: 'Update member', class: 'btn btn-primary' %>
    <%= link_to "Cancel", admin_users_path, class: 'btn btn-default' %>
  </div>
<% end %>
