<% if current_user.role == "member" %>
  <div class="custom-nav navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to '<i class="fa fa-home"></i>'.html_safe, main_app.root_path %><li>
      <li><%= link_to 'Member Dashboard', main_app.member_root_path %></li>
      <li><%= link_to 'Messages', main_app.member_sermons_path %></li>
      <li><%= link_to 'Schedule', main_app.fullcalendar_engine_path %></li>
      <li><a href="#">Announcements</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to "#{current_user.email}", "#" %></li>
        <li><%= link_to "Log out", main_app.destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
<% end %>
